//Adjust the animation speed to increase/decrease timing
$animation_speed: 1.5s;
//-------------------------------
$step1_animation: $animation_speed #{$animation_speed*0.7505} ease-in-out forwards;
$step2_animation: $animation_speed #{$animation_speed*1.5} ease-in-out forwards;
$step3_animation: $animation_speed #{$animation_speed*2.25} ease-in-out forwards;
//-----------------------------


//--BEGIN UNNECESSARY STUFF JUST FOR DEVELOPMENT AND DEMO---
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#background{
    position: relative;
    width: 1920px;
    height: 1080px;
    margin: auto;
    background-image: url('../img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: space-between;
}

#left-side{
    flex: 1;
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#right-side{
    width: 100%;
    max-width: 925px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
//--END UNNCESSARY STUFF------------------------


//--COPY+PASTE EVERYTHING BELOW THIS LINE FOR ANIMATION ------------
#hero-graphic{
    width: 820px;
    height: 820px;
    position: relative;

    > div{
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .ball{
        opacity: 0;
        transform: rotateZ(-120deg);
    }

    .ball-right{
        background-image: url('../img/hero-graphic/ball-right.svg');
        mix-blend-mode: multiply;
        z-index: 5;
        animation: fadeIn #{$animation_speed/2} ease-in forwards, justRotate $animation_speed #{$animation_speed*0.75} ease-in-out forwards;
    }

    .ball-bottom{
        background-image: url('../img/hero-graphic/ball-bottom.svg');
        z-index: 4;
        animation: fadeInRotate $step2_animation;
    }

    .ball-left{
        background-image: url('../img/hero-graphic/ball-left.svg');
        mix-blend-mode: multiply;
        z-index: 3;
        animation: fadeInRotate $step3_animation;
    }

    .mask{
        mask-repeat: no-repeat;
        mask-size: cover;
        mask-mode: luminance;
        mask-composite: exclude;
        mask-image: url('../img/hero-graphic/opacity-mask2.svg');
        opacity: 0;
        .graphic{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .mask-right{
        z-index: 2;
        animation: rotateMaskRight $step1_animation;
        opacity: 0;
        .graphic{
            background-image: url('../img/hero-graphic/bg-right.png');
            animation: rotateGraphicRight $step1_animation; 
        }

    }

    .mask-bottom{
        z-index: 3;
        animation: rotateMaskBottom $step2_animation;
        .graphic{
            background-image: url('../img/hero-graphic/bg-bottom.png');
            animation: rotateGraphicBottom $step2_animation; 
        }
    }

    .mask-left{
        z-index: 1;
        animation: rotateMaskLeft $step3_animation;
        .graphic{
            background-image: url('../img/hero-graphic/bg-left.png');
            animation: rotateGraphicLeft $step3_animation; 
        }
    }


}


@keyframes fadeIn {
  0% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  }
}

@keyframes justRotate {
  0% {
    opacity: 1; 
    transform: rotateZ(-120deg);
  }
  100% {
    opacity: 1; 
    transform: rotateZ(0deg);
  }
}

@keyframes fadeInRotate {
  0% {
    opacity: 0; 
    transform: rotateZ(-120deg); 
  }

  100% {
    opacity: 1; 
    transform: rotateZ(0deg); 
  }
}

//-----------
@keyframes rotateMaskRight {
  0% {
    opacity: 0;
    transform: rotateZ(-120deg);
  }
  100% {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}


@keyframes rotateGraphicRight {
  0% {
    transform: rotateZ(120deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

//-----------
@keyframes rotateMaskBottom {
  0% {
    opacity: 0;
    transform: rotateZ(0deg);
  }
  100% {
    opacity: 1;
    transform: rotateZ(120deg);
  }
}


@keyframes rotateGraphicBottom {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-120deg);
  }
}

//-----------
@keyframes rotateMaskLeft {
  0% {
    opacity: 0;
    transform: rotateZ(120deg);
  }
  100% {
    opacity: 1;
    transform: rotateZ(240deg);
  }
}


@keyframes rotateGraphicLeft {
  0% {
    transform: rotateZ(-120deg);
  }
  100% {
    transform: rotateZ(-240deg);
  }
}
